* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-style {
  border: 1px solid  #d1d5db;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 5px;
}

.button {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 300px;
  height: auto;
  background-color: #e5e7eb;
  padding: 5px;
  cursor: pointer;
}

.dog-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 320px) {
  .input-style,
  .button {
    width: 100%;
  }

  .dog-image {
    max-width: 100%;
  }
}
